# Number of Threads for the Extension
numberOfThreads: 5

# This will create it in specific Tier aka Component. Replace <COMPONENT_ID>.
# Please make sure to have a trailing |.
# To find out the COMPONENT_ID, please see the screen shot here https://docs.appdynamics.com/display/latest/Build+a+Monitoring+Extension+Using+Java
#metricPrefix: "Server|Component:<COMPONENT_ID>|Custom Metrics|AzureMonitor|"
metricPrefix:  "Custom Metrics|AzureMonitor|"

# Uncomment only if encryption of the clientKey is needed. If this is needed leave clientKey empty
#encryptionKey: ""
#encryptedClientKey: ""

# Client ID obtained from the Azure Portal
clientId: ""

# Client Key for the upper ID obtained from the Azure Portal
clientKey: ""

# Tenant ID obtained from the Azure Portal
tenantId: ""

# Subscription ID obtained from the Azure Portal
subscriptionId: ""

api-version: "2017-05-10"

monitor-api-version: "2017-05-01-preview"

# Include Filter - These Resource Types will be monitored:
filter:
  - resourceType: "Microsoft.AnalysisServices/servers"
  - resourceType: "Microsoft.ApiManagement/service"
  - resourceType: "Microsoft.Automation/automationAccounts"
  - resourceType: "Microsoft.Batch/batchAccounts"
  - resourceType: "Microsoft.Cache/redis"
  - resourceType: "Microsoft.ClassicCompute/virtualMachines"
  - resourceType: "Microsoft.CognitiveServices/accounts"
  - resourceType: "Microsoft.Compute/virtualMachines"
  - resourceType: "Microsoft.Compute/virtualMachineScaleSets"
  - resourceType: "Microsoft.Compute/virtualMachineScaleSets/virtualMachines"
  - resourceType: "Microsoft.CustomerInsights/hubs"
  - resourceType: "Microsoft.DataLakeAnalytics/accounts"
  - resourceType: "Microsoft.DataLakeStore/accounts"
  - resourceType: "Microsoft.DBforMySQL/servers"
  - resourceType: "Microsoft.DBforPostgreSQL/servers"
  - resourceType: "Microsoft.Devices/IotHubs"
  - resourceType: "Microsoft.Devices/provisioningServices"
  - resourceType: "Microsoft.DocumentDB/databaseAccounts"
  - resourceType: "Microsoft.EventHub/namespaces"
  - resourceType: "Microsoft.Insights/AutoscaleSettings"
  - resourceType: "Microsoft.Logic/workflows"
#  - resourceType: "Microsoft.Network/loadBalancers" -- Produced Errors during Test
  - resourceType: "Microsoft.Network/publicIPAddresses"
  - resourceType: "Microsoft.Network/applicationGateways"
  - resourceType: "Microsoft.Network/virtualNetworkGateways"
  - resourceType: "Microsoft.Network/expressRouteCircuits"
  - resourceType: "Microsoft.Network/trafficManagerProfiles"
  - resourceType: "Microsoft.NotificationHubs/Namespaces/NotificationHubs"
  - resourceType: "Microsoft.Search/searchServices"
  - resourceType: "Microsoft.ServiceBus/namespaces"
  - resourceType: "Microsoft.Sql/servers/databases"
  - resourceType: "Microsoft.Sql/servers/elasticPools"
  - resourceType: "Microsoft.Sql/servers"
  - resourceType: "Microsoft.Storage/storageAccounts"
  - resourceType: "Microsoft.Storage/storageAccounts/blobServices"
  - resourceType: "Microsoft.Storage/storageAccounts/tableServices"
  - resourceType: "Microsoft.Storage/storageAccounts/queueServices"
  - resourceType: "Microsoft.Storage/storageAccounts/fileServices"
  - resourceType: "Microsoft.StreamAnalytics/streamingjobs"
  - resourceType: "Microsoft.Web/serverfarms"
  - resourceType: "Microsoft.Web/sites"
  - resourceType: "Microsoft.Web/sites/slots"
  - resourceType: "Microsoft.Web/hostingEnvironments/multiRolePools"
  - resourceType: "Microsoft.Web/hostingEnvironments/workerPools"

serviceFabricClusters:
  - serviceFabricCluster: ""
  - api-version: ""